{% extends 'app_home/layouts/layout_base.html' %}

{% block title %}Домашняя страница{% endblock %}


{% block content %}

    <main>
        <div class="text-center m-4 p-3" style="background: #5DC8CD;">

            <h3 class="display-5">Поехали!</h3>

        </div>
    </main>

{% endblock %}


{% block element %}

    <section class="container"  style="background: #5DC8CD;">
        <!-- ======= Обо мне ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>Обо мне</h2>
                    <p>Человек — это субъект общественно-исторического процесса, развития материальной и духовной культуры
                            на Земле, биосоциальное существо, генетически связанное с другими формами жизни, но выделившееся из
                            них благодаря способности производить орудия труда, обладающее членораздельной речью и сознанием,
                            нравственными качествами.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="static/bonyfacci.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>Студент &amp; Backend-разработчик.</h3>
                        <p class="fst-italic">
                            Информация:
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>День рождения:</strong>
                                        <span>10 Июля 1990</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Сайт:</strong>
                                        <span><a href="#">https://github.com/Bonyfacci</a></span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Телефон:</strong>
                                        <span>+7 (921) 785-38-35</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Город:</strong>
                                        <span>Санкт-Петербург, Россия</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Возраст:</strong> <span>33</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Образование:</strong>
                                        <span>Специалист</span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Электронная почта:</strong> <span><a
                                            href="#">platonovpochta@gmail.com</a></span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Работа:</strong>
                                        <span>Открыт к предложениям</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Общественное существо, обладающее разумом и сознанием.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- Обо мне -->
    </section>

    <section class="container"  style="background: #5DC8CD;">
        <!-- ======= Стек Технологий ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Стек технологий</h2>
                    <p>Набор программных инструментов и технологий, которые используются для создания и
                        поддержки продуктов и сервисов.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        <div class="progress">
                            <span class="skill">HTML <i class="val">30%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val">30%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">5%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        <div class="progress">
                            <span class="skill">Python <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">SQL <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Django <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- Стек Технологий -->
    </section>

{% endblock %}

{% block blog %}

    <div class="text-center m-3 p-3" style="background: #5DC8CD;">

        <h3 class="display-5">Поехали!</h3>

    </div>

{% endblock %}
