<div class="nav-button">
    <a href="{# url 'xxx:xxx' #}">
        <i class="fas fa-images"></i>
        <span>Дип. работа №2</span>
    </a>
</div>
<div class="nav-button">
    <a href="{# url 'xxx:xxx' #}">
        <i class="fas fa-thumbtack"></i>
        <span>Дип. работа №3</span>
    </a>
</div>
<hr/>
<div class="nav-button">
    <a href="{# url 'xxx:xxx' #}">
        <i class="fas fa-heart"></i>
        <span>Проект 1</span>
    </a>
</div>
<div class="nav-button">
    <a href="{# url 'xxx:xxx' #}">
        <i class="fas fa-chart-line"></i>
        <span>Проект 2</span>
    </a>
</div>
<div class="nav-button">
    <a href="{# url 'xxx:xxx' #}">
        <i class="fas fa-fire"></i>
        <span>Проект 3</span>
    </a>
</div>
<div class="nav-button">
    <a href="{# url 'xxx:xxx' #}">
        <i class="fas fa-magic"></i>
        <span>Проект 4</span>
    </a>
</div>
<hr/>
<div class="nav-button">
    <a href="{# url 'xxx:xxx' #}">
        <i class="fas fa-gem"></i>
        <span>Обо мне</span>
    </a>
</div>